@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 213 30% 14%;
    --foreground: 210 40% 98%;
    --card: 213 27% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 213 27% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 29% 24%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 34%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 28 80% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 29% 34%;
    --input: 210 29% 20%;
    --ring: 28 80% 52%;
    --radius: 0.5rem;
    --chart-1: 28 80% 52%;
    --chart-2: 210 40% 98%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 213 30% 14%;
    --foreground: 210 40% 98%;
    --card: 213 27% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 213 27% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 29% 24%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 29% 34%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 29% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 28 80% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 29% 34%;
    --input: 210 29% 20%;
    --ring: 28 80% 52%;
    --chart-1: 28 80% 52%;
    --chart-2: 210 40% 98%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
